:root {
  --fuego : #ff4800;
  --agua : #4592c4;
  --electrico : #edd434;
  --psiquica : #f366b9;
  --volador : linear-gradient(180deg,rgba(61, 199, 239, 1) 50%, rgba(189, 185, 184, 0.52) 50%, rgba(74, 74, 74, 1) 0%);
  --dragon : linear-gradient(180deg,rgba(83, 164, 207, 1) 50%, rgba(0, 0, 0, 0.52) 0%, rgba(241, 110, 87, 1) 50%);
  --hielo : #53a4cf;
  --tierra : linear-gradient(180deg,rgba(237, 212, 52, 1) 50%, rgba(163, 140, 33, 1) 50%); 
}

/* Bajar Footer */

body {
  min-height: 100vh;

  display: flex;

  flex-direction: column; 
}

main {
  flex-grow: 1;
}

/* Estilos del NavBar */

.navBar {
  background: linear-gradient(
    56deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 95, 95, 0.52) 100%,
    rgba(74, 74, 74, 1) 50%
  );
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
  border-bottom: 1px solid white;
  border-bottom-right-radius: 50px;
}

nav a {
  &:hover {
    text-shadow: 1px 1px 10px white;
  }
}

.imgIndex {
  height: 50px;
}

.footer-link {
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover,
.footer-icon:hover {
  text-shadow: 1px 1px 10px white;
  color: #fdd835;
}

footer h6 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card {
  transition: 450ms;
}

/* Hovers para PokeCards */

.pokeCardFuego:hover {
  box-shadow: 1px 1px 15px var(--fuego);
  background-image: url(../img/fuegobg.jpg);
        background-size: cover;

}
.pokeCardAgua:hover {
  box-shadow: 1px 1px 15px var(--agua);
    background-image: url(../img/aguabg.jpg);
          background-size: cover;


}
.pokeCardElectrico:hover {
  box-shadow: 1px 1px 15px var(--electrico);
  background-image: url(../img/electricobg.jpg);
        background-size: cover;

}
.pokeCardHielo:hover {
  box-shadow: 1px 1px 15px var(--hielo);
    background-image: url(../img/hielobg.jpg);
          background-size: cover;


}
.pokeCardDragonElec:hover {
   box-shadow: 1px 1px 15px var(--electrico);
      background-image: url(../img/voladorbg.jpg);
      background-size: cover;

}

.pokeCardDragonFue:hover {
   box-shadow: 1px 1px 15px var(--fuego);
      background-image: url(../img/voladorbg.jpg);
      background-size: cover;

}

.pokeCardDragonVol:hover {
   box-shadow: 1px 1px 15px rgba(61, 199, 239, 1);
      background-image: url(../img/voladorbg.jpg);
      background-size: cover;

}
.pokeCardPsiqui:hover {
   box-shadow: 1px 1px 15px var(--psiquica);
      background-image: url(../img/psiquibg.jpg);
      background-size: cover;

}
.pokeCardTierra:hover {
  box-shadow: 1px 1px 15px rgba(163, 140, 33, 1);
      background-image: url(../img/tierrabg.jpg);
      background-size: cover;
}




/* Media Querie Dispositivos Pequeños */

@media (width <= 669px) {

    /* Media Querie para cambiar tamaño de alto del logo del navbar */

  .imgIndex {
    height: 40px;
  }
}


@media (max-width: 576px) {
  .footer-icon {
    font-size: 1.3rem;
  }
}

/* Media Queries para dispositivos grandes */

@media (width >= 992px) {

}